
:root {
    --nav-background: #D93D7E;
    --background-color: #cdb4be;
    --font-color: #59464E;
    --hover-color: #333;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;;
    background-color: var(--background-color);
}

/* Header */
header {
    text-align: center; 
    padding: 20px 0;
}

header p{
    padding: 20px;
    margin: 0 70px;
}

.quote-header{
    color: var(--nav-background);
    font-weight: 600;
}

/* Menu */
.nav-hor{
    background-color: var(--nav-background);
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.nav-hor ul {
    list-style-type: none;
    display: flex;
}

.nav-hor li {
    margin: 0 30px;
}

.nav-hor li a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 18px;
    letter-spacing: 1.5px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.nav-hor li a:hover {
    background-color: #a7a8a9;
    color: var(--hover-color);
    box-sizing: 0 8px 16px rgba(237, 242, 244, 0.4);
}

/* Section */
.content {
    display: flex;
    gap: 20px;
    margin: 20px 0; 
    padding: 0 30px;
}

section {
    flex: 0 0 70%; 
    padding-right: 40px;
}

section p{
    padding-top: 30px;
}

section img {
    max-width: 70%; 
    height: auto;
    display: block; 
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: var(--font-color);
    margin-top: 5px;
}

.quote-content{
    border-left: 13px solid var(--nav-background);
    padding: 25px;
    font-family: "Roboto Mono", monospace;
    color: var(--font-color);
}

/* Aside */
aside {
    flex: 0 0 30%; 
    border-left: 5px solid var(--nav-background);
    padding: 20px;
    font-family: "Roboto Mono", monospace;
    color: var(--font-color);
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside li {
    margin-bottom: 15px;
    line-height: 1.5;
}

aside li a {
    color: var(--nav-background);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

aside li a:hover {
    color: var(--hover-color);
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}